/* Con esto le aplicamos a toda nuestra pagiona los estilos por defecto,lo podemos sobreescribir */
*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* Con inherit eradamos algo predefinido anteriormente */
p{
    font-size: 16px; 
    color: black;
    background-color: cyan;
}
h1{
    color:  red;
    font-family: 'Times New Roman', Times, serif;

}
.parrafo-negrita
{
    font-weight: bold;
    font-size: large;
}
#parrafo-id
{
    border: 5px solid red;
}
/* Grupo de selectores */
p,
#parrafo-negrita,
#parrafo-id
{
    border: 5px solid green;
}

/* selector para elementos subsiguientes */
p+span{
    color: black;
    font-size: large;
}
/* selector para elementos anidados en el primer nivel de jerarquia */
p>span{
    color: red;
}

/* selector para todo elemento que se encuentre dentro de <p>, sin importar el nivel de jerarquia */
p span{
    color: blue;
}